@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

body {
    background: linear-gradient(to bottom, #273a4b, #6c757d);
    color: white;
    font-family: 'Arial', sans-serif;
}


