@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

body {
    background: linear-gradient(to bottom, #6c757d, #6c757d);
    color: white;
    font-family: 'Arial', sans-serif;
}
